<div class="page-container">
  <div class="main-page-card">
      <h3 class="main-page-title">WYBIERZ OPCJE</h3>
      <div class="navigation-buttons-container">
          <button class="navigation-button" routerLink = "/books"> Książki</button>
          <button class="navigation-button" routerLink = "/authors"> Autorzy</button>
          <button class="navigation-button" routerLink = "/borrowers"> Użytkownicy</button>
          <button class="navigation-button" routerLink = "/staff"> Pracownicy</button>
      </div>
  </div>
</div>    